rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Yetkilendirme fonksiyonları
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return isAuthenticated() && 
        exists(/databases/$(database)/documents/userRoles/$(request.auth.uid)) &&
        get(/databases/$(database)/documents/userRoles/$(request.auth.uid)).data.roles.hasAny(['YÖNETİM']);
    }

    // Rol koleksiyonu kuralları
    match /roles/{roleId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }

    // Kullanıcı rolleri koleksiyonu kuralları
    match /userRoles/{userRoleId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }

    // Kullanıcılar koleksiyonu kuralları
    match /users/{userId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin() || request.auth.uid == userId;
    }

    // Diğer koleksiyonlar için kurallar...
  }
} 