:root {
  --background-light: #ffffff;
  --text-light: #000000;
  --background-dark: #121212;
  --text-dark: #ffffff;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.dark-mode .MuiPaper-root {
  background-color: #1e1e1e;
  color: var(--text-dark);
}

.dark-mode .MuiAppBar-root {
  background-color: #272727;
}

.dark-mode .MuiDrawer-paper {
  background-color: #1e1e1e;
  color: var(--text-dark);
}

.dark-mode .MuiCard-root {
  background-color: #1e1e1e;
}

.dark-mode .MuiTextField-root {
  color: var(--text-dark);
}

.dark-mode .MuiInputBase-root {
  color: var(--text-dark);
}

.dark-mode .MuiInputLabel-root {
  color: var(--text-dark);
} 